<!DOCTYPE html>
<html>
<head>
    <title>Levels Section</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h1>Select a level:</h1>

<p><strong>XP:</strong> {{ xp }}</p>
<p><strong>Stars:</strong> {{ stars }}</p>
<p><strong>Title:</strong> {{ title }}</p>

<ul>
{% for level_id, data in levels.items() %} <!--This is a loop that will show all available levels-->
    <li>
        <strong>{{ data.name }}</strong>

        {% if level_id in completed_levels %}
            <span style="color: green;">Completed ✓</span>

        {% elif level_id in unlocked_levels %}
            <a href="/level/{{ level_id }}">Enter Level</a>

        {% else %}
            <span style="color: red;">
                Locked (Requires {{ data.unlock_xp }} XP)
            </span>
        {% endif %}
    </li>
{% endfor %} <!--END THE LOOP-->
</ul>

<p><a href="/">Home</a></p>

</body>
</html>